html,
body {
  overflow: hidden;
}
h5 span {
  margin-left: 10px;
}
h5 #min {
  margin-left: 20px;
}
#cal-display {
  height: 135px;
  font-weight: bold;
  font-size: xx-large;
}
#Hm {
  max-width: 350px;
}
#Hm .tab{
  overflow: hidden;
}
#Hm .tab .tablinks{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
#Hm .tab .tablinks:hover {
  border-bottom: 2px solid #3d77e3
}
/* #Hm .tab .tablinks.active {
  border-bottom: 3px solid rgb(103, 171, 243);
} */
.header {
  height: 34px;
}
#scrolling {
  height: 532px;
  overflow-y: scroll;
}
#scrolling::-webkit-scrollbar {
  /* display: none; */
  width: 5 !important;
}
#scrolling .tabcontent{
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.footer {
  height: 38px;
}
p span {
  margin-left: 20px;
}